autopep8==1.4.3
Django==2.1.4
django-filter==2.0.0
django-multiselectfield==0.1.8
djangorestframework==3.9.0
flake8==3.6.0
Markdown==3.0.1
mccabe==0.6.1
Pillow==5.4.1
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.9
