ul{
    margin-left: 0%;
    transform: translateX(-0%);
}
ul li::before{
    content: none
}
.position{
    position: relative;
}
.position2{
    width: 30%;
    float: left;
    /* width: 310px; */
    margin-left: 54%;
    margin-bottom: 6%;
    transform: translateX(-50%);
    color: black;
}
.rc-pagination {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.rc-pagination-item a {
    text-decoration: none;
    color: #A8A8A8;
}
.rc-pagination-item{
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #A8A8A8;
    background-color: transparent;
    background-color: none;
}
@media screen and (max-width: 970px) {
    .rc-pagination {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    .rc-pagination-item{
        min-width: 35px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #A8A8A8;
        background-color: transparent;
        background-color: none;
    }
  }

.rc-pagination-item-active {
    background-color: #445DFF;
    border-color: #445DFF;
}
.rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-prev, .rc-pagination-jump-next{
    min-width: 50px;
    height: 50px;
    line-height: 50px;
}
@media screen and (max-width: 970px) {
    .rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-prev, .rc-pagination-jump-next{
        min-width: 35px;
        height: 35px;
        line-height: 35px;
    }
  }

@media screen and (max-width: 2080px) {
    .position2{
        width: 40%; 
    }
  }

@media screen and (max-width: 1880px) {
    .position2{
        width: 18%;
    }
  }

  @media screen and (max-width: 1670px) {
    .position2{
        width: 44%;
    }
  }

  @media screen and (max-width: 1270px) {
    .position2{
        width: 50%;
    }
  }

/* @media screen and (max-width: 700px) {
    .position2{
        margin-left: 34%;
        transform: translateX(-10%);
    }
  }

@media screen and (max-width: 500px) {
    .position2{
        margin-left: 36%;
        transform: translateX(-10%);
    }
  }

@media screen and (max-width: 400px) {
    .position2{
        margin-left: 32%;
        transform: translateX(-10%);
    }
  } */