.navbar {
    
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    height: 114px;
}
.navbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    
}
.navbar_logo {
    position: absolute;
    left: 179px;
}

.spacer {
    flex: 1;
}

.navbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.navbar_navigation_items li {
    padding: 0 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}


